:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.placeholder {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.5em 1.2em;
  margin: 10px 10px;
  font-size: 1em;
  font-weight: 200;
  font-family: inherit;
  background-color: #222831;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  width: 100%;
  min-height: 2vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  color: #fff;
  background: #fc0;
}

.logo {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: red;
  margin: 0;
  padding: 0;
}

.nav-links > * {
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.nav-links > *:hover {
  color: #f4a261;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.nav-links a:hover {
  background-color: #0077b6;
  color: #fff;
}

.word-definitions {
  text-align: center;  /* Center the content horizontally */
  margin: 50px auto;  /* Add some margin for spacing */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;  /* Add rounded corners */
  /* background-color: #f5f5f5; */
}

.word-definitions h2 {
  margin-bottom: 20px;
}

.word-definitions ul {
  list-style: none;  /* Remove default bullet points */
  padding: 0;
}

.word-definitions li {
  margin-bottom: 10px;
  font-weight: bold; /* Make definition terms bolder */
}

.word-definitions li span {  /* Style example words */
  font-style: italic;
  color: #d51b1b;
}

